In [ ]:
pip show sklearn

In [ ]:
pip install sklearn

In [ ]:
pip install scikit.learn

In [ ]:
from sklearn.impute import SimpleImputer

In [1]:
import pandas as pd

In [2]:
salary=pd.DataFrame({'salary':[10000,20000,30000,40000,50000],'cat':['little low','low','medium','high','more high']})

In [3]:
salary

   salary         cat
0   10000  little low
1   20000         low
2   30000      medium
3   40000        high
4   50000   more high

In [4]:
salary.cat.map({'little low':1,'low':2,'medium':3,'high':4,'more high':5})

0    1
1    2
2    3
3    4
4    5
Name: cat, dtype: int64